@font-face {
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-family: 'Pretendard-Regular';
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
}
#log-in{
    display: flex;
    position: relative;
    top: 10px;
    justify-content: flex-end;
    right: 232px;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #756f71;
}
header{
    display: flex;
    position: relative;
    top: 25px;
    justify-content: space-around;
    align-items: center;
}
#main-logo{
    position: relative;
    left: 100px;
    top: 10px;
}
#search-bar{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}
#user-menu{
    display: flex;
    position: relative;
    bottom: 0px;
    align-items: center;
    gap: 60px;
    right: 120px;
}
#category{
    position: relative;
    top: 65px;
}
#category-items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
    margin-right: 100px;
    cursor: pointer;
}
#category p{
    color: #575757;
    font-size: 20px;
    font-weight: 600;
}
.container{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.type-list{
    cursor : pointer;
    position: relative;
    top: 33px;
    width: 155px;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid 0.7px #E72D6C;
    color: #E72D6C;
    font-weight: 600;
}
.selected{
    height: 75px;
    font-size: 30px;
    font-weight: 800;
}
#title-text{
    font-size: 27px;
    font-weight: bold;
    color: #000;
    opacity: 0.65;                          
    position: relative;
    top: 54px;
    left: 5vw;
    flex-wrap: wrap;
}
.maemul{
    height: 215px;
    width: 186px;
    border: 1.5px solid #E72D6C;
    border-radius: 20px;
    overflow: hidden;
}
.img{
    height: 50%;
    background-color: #b5b0b08a;
    border-bottom: 1.5px solid #E72D6C;
}
.text-descript{
    margin: 18px;
}
.maemul-name{
    font-size: 17px;
    width: 160px;
    height: 45px;
    overflow: visible;
    font-weight:600;
    margin-bottom: 5px;
}
.maemul-price{
    font-size: 20px;
    font-weight: 800;
    color: #E72D6C;
}
.upload-time{
    position: relative;
    font-weight: 500;
    color: #000;
    opacity: 0.27;
    font-size: 11px;
    top: -15px;
    left: 115px;
}
.maemuls{
    display: grid;
    grid-template-columns: 184px 184px 184px 184px;
    /* grid-template-rows: 215px 215px 215px; */
    margin: 85px;
    gap: 25px;
}
.category-selected{
    position: relative;
    color:#E72D6C !important;
    border-bottom: 3px solid #E72D6C;
    padding-bottom: 20px;
    z-index: 2;
}